<!-- Tu dong map theo duong dan de lay css -->
<base href="/site/" />
<meta charset="utf-8" />
<title>
    <%=title%>
</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/product.css">
<link rel="stylesheet" href="css/category.css">
<link rel="stylesheet" href="css/cart.css">
<link rel="stylesheet" href="css/search.css">